body {
  margin-top: 2cm;
  margin-left: 10cm;
  margin-right: 10cm;
  margin-bottom: 3cm;
  background: linear-gradient(to bottom, lightblue, lightyellow, lightgreen);
}
H1 {
  color: #1942bd;
  letter-spacing: 13px;
}
H3 {
  color: #1942bd;
}
a {
  color:#a8329d;
  text-decoration: none;
}
/*a:hover{
  color: orange*/
}